.primary-font {
  font-family: 'Ubuntu', sans-serif;
  font-size: 10rem;
  font-weight: 300;
}

.primary-color {
  color: #39C;
}

.secondary-color {
  color: #3C9;
}

h2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2rem;
  font-weight: 300;
}

p {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 2;
}