.sidebar {
  align-items: flex-start;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  display: inline-flex;
  justify-content: center;
  height: calc(100vh - 80px);
  width: 20vw;
}

.list {
  list-style: none;
  width: 100%;
}

.link {
  padding: 1rem 2rem;
  transition: 0.5s;

  &:hover {
    background: #39C;
    color: #FFF;
    cursor: pointer;
  }

}

.linkActive {
  @extend .link;
  background: #39C;
  color: #FFF;
}
