.button {
  background: rgba(0, 0, 0, 0.95);
  border-radius: 0.25rem;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  color: rgba(255, 255, 255, 0.95);
  display: inline-block;
  font-size: 0.9rem;
  padding: 0.75rem 1.5rem;
  opacity: 1;
  transition: 0.5s;

  &:hover {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    opacity: 0.9;
  }

}
