@import '../../stylesheets/button.scss';

.container {
  display: block;
  margin: 0 auto;
  padding: 2rem;
  width: 100%;

  h2 {
    padding-bottom: 1rem;
  }

  ul {
    list-style: none;
  }

}

.section {
  margin-bottom: 1rem;
}

.organization {
  color: rgba(0, 0, 0, 0.95);
  display: inline-block;
  margin-bottom: 0.5rem;
  opacity: 1;
  transition: 0.5s;

  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }

}
