.container {
  height: 100vh;
  text-align: center;
  width: 100vw;
}

.loader {
  animation: fade 1s linear infinite;
  left: 50%;
  margin-left: -50px;
  margin-top: -100px;
  position: absolute;
  top: 50%;

  &:after, &:before {
    border-radius: 50%;
    content: '';
    height: 100px;
    width: 100px;
  }

  &:after {
    animation: spin 1s linear infinite;
    border: 15px solid transparent;
    border-top-color: #39C;
    border-bottom-color: #3C9;
    position: absolute;
  }

}

@keyframes fade {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg) scale(1)
  }
  50% {
    transform: rotate(135deg) scale(1.2)
  }
  100% {
    transform: rotate(360deg) scale(1)
  }
}
