@import '../stylesheets/animations.scss';

.container {
  margin-top: calc(80px + 1rem);
  min-height: calc(100vh - 80px);
}

.dashboard {
  align-items: flex-start;
  display: flex;
  justify-content: center;
}
