@import '../stylesheets/button.scss';

.header {
  align-items: center;
  background: rgba(0, 0, 0, 0.95);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  display: flex;
  height: 80px;
  justify-content: space-between;
  padding: 0.5rem 2rem;
  position: fixed;
  top: 0;
  width: calc(100vw - 4rem);
  z-index: 1;
}

.title {
  display: inline-block;
  width: 100px;
}

.links {
  display: inline-block;
}

.link {
  color: rgba(255, 255, 255, 0.95);
  border-bottom: 2px solid rgba(255, 255, 255, 0);
  margin: 0.5rem;
  opacity: 0.9;
  padding: 0.5rem;
  transition: 0.5s;

  &:hover {
    border-bottom: 2px solid rgba(255, 255, 255, 1);
    opacity: 1;
  }

}

.activeLink {

  @extend .link;

  border-bottom: 2px solid rgba(255, 255, 255, 1);
  opacity: 1;
}
