.header {
  align-items: center;
  background: #FFF;
  box-shadow: 0 0 2px #3C9;
  display: flex;
  min-height: 80px;
  padding: 2rem;
}

.title {
  display: inline-block;
  margin: 0 auto;

  img {
    width: 300px;
  }

}
