.header {
  align-items: center;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  display: flex;
  height: 80px;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100vw;
}

.title {
  display: inline-block;
  margin: 0 auto;
  width: 200px;
}

.controls {
  display: inline-block;
  margin: 0 auto;
}

.status {
  display: inline-block;
  padding: 1rem;
}

.button {
  background: #39C;
  border-radius: 1rem;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  color: #FFF;
  display: inline-block;
  margin: 0 auto;
  padding: 0.5rem 1rem;
  opacity: 1;
  transition: 0.5s;

  &:hover {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    cursor: pointer;
    opacity: 0.8;
  }

}
