@import '../stylesheets/animations.scss';

.container {
  height: 100vh;
  text-align: center;
  width: 100vw;
}

.loader {
  animation: spinnerFade 1s linear infinite;
  left: 50%;
  margin-left: -50px;
  margin-top: -100px;
  position: absolute;
  top: 50%;

  &:after, &:before {
    border-radius: 50%;
    content: '';
    height: 100px;
    width: 100px;
  }

  &:after {
    animation: spinnerSpin 1s linear infinite;
    border: 15px solid transparent;
    border-top-color: #39C;
    border-bottom-color: #3C9;
    position: absolute;
  }

}
