@import '../../stylesheets/button.scss';

.container {
  display: block;
  margin: 0 auto;
  padding: 2rem;
  width: 100%;

  h2 {
    padding-bottom: 1rem;
  }

  ul {
    list-style: none;
  }

}

.input {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 0.5rem;
  margin-right: 1rem;
}
