@import '../../stylesheets/button.scss';

.container {
  display: block;
  margin: 0 auto;
  padding: 2rem;
  width: 100%;

  h2 {
    padding-bottom: 1rem;
  }

  ul {
    list-style: none;
  }

}

.field {

  input {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    font-size: 0.9rem;
    font-weight: 300;
    padding: 0.5rem;
    max-width: 200px;
    width: 100%;
  }

  input::placeholder {
    font-style: italic;
  }

}

.buttons {
  padding: 1rem 0;
}
