@import '../../stylesheets/button.scss';

.container {
  display: block;
  margin: 0 auto;
  padding: 2rem;
  width: 100%;

  h2 {
    padding-bottom: 1rem;
  }

  ul {
    list-style: none;
  }

}

.organization {
  color: #39C;
  display: inline-block;
  margin: 0.5rem 0;
  opacity: 1;
  transition: 0.5s;

  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }

}

.button {
  font-size: 0.75rem;
  margin: 0 0.5rem;
  padding: 0.25rem;
  width: 1.5rem;
}
